<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qtz.ht.user.dao.CaiPiaoDao" >
<!-- Result Map com.qtz.ht.user.vo.HtUser-->
<resultMap id="BaseResultMap" type="com.qtz.ht.user.vo.CpiaoYxd" >
	 <result column="dm_id"  property="dmId"/> 
	 <result column="number1"  property="number1"/> 
	 <result column="number2"  property="number2"/>
	 <result column="number3"  property="number3"/>
	 <result column="number4"  property="number4"/>
	 <result column="number5"  property="number5"/>
	 <result column="number6"  property="number6"/>
	 <result column="number7"  property="number7"/>
	 <result column="dateline"  property="dateline"/>  
</resultMap>

<!-- ht_user table all fields -->
<sql id="Base_Column_List" >
	 t.dm_id,t.number1,t.number2,t.number3,t.number4,t.number5,t.number6,t.number7,t.dateline
</sql>

<!-- 查询条件 -->
<sql id="Example_Where_Clause">
<where>
	<if test="dmId != null  ">
		 and t.dm_id=#{dmId}
	</if>
	<if test="number1 != null  and number1 != ''  ">
		 and t.number1=#{number1}
	</if>
	<if test="number2 != null  and number2 != ''  ">
		 and t.number2=#{number2}
	</if>
	<if test="number3 != null  and number3 != ''  ">
		 and t.number3=#{number3}
	</if>
	<if test="number4 != null  and number4 != ''  ">
		 and t.number4=#{number4}
	</if>
	<if test="number5 != null  and number5 != ''  ">
		 and t.number5=#{number5}
	</if>
	<if test="number6 != null  and number6 != ''  ">
		 and t.number6=#{number6}
	</if>
	<if test="number7 != null  and number7 != ''  ">
		 and t.number7=#{number7}
	</if>
	<if test="dateline != null  and dateline != '' ">
		 and t.dateline=#{dateline}
	</if>
</where>
</sql>

<!-- 插入记录 [说明：如果要返回当前对象，需要如下配置：<insert id="addVo" parameterType="Object" useGeneratedKeys="true" keyProperty="id">] -->
<insert id="addVo" parameterType="Object" >
  insert into yxd_cpiao(dm_id,t.number1,t.number2,t.number3,t.number4,t.number5,t.number6,t.number7,dateline)
 values(#{dmId},#{number1},#{number2},#{number3},#{number4},#{number5},#{number6},#{number7},#{dateline})
</insert>
<!--批量插入记录 -->
<insert id="addList" parameterType="java.util.List">
  insert into yxd_cpiao(dm_id,number1,number2,number3,number4,number5,number6,number7,dateline) values
   <foreach collection="list" item="item" index="index" separator=",">
	  (
	  	 #{item.dmId},#{item.number1},#{item.number2},#{item.number3},#{item.number4},#{item.number5},#{item.number6},#{item.number7},#{item.dateline}
	  )
	  </foreach> 
</insert>

<!-- 删除记录 -->
<delete id="delId" parameterType="Object">
	delete 	 from yxd_cpiao where dm_id = #{dmId}
</delete>
<!--批量删除-->
<delete id="delIds" parameterType="java.lang.String">
	delete 	 from yxd_cpiao where dm_id in 
	<foreach item="idItem" collection="array" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>
<!--批量删除-->
<delete id="delList" parameterType="java.util.List">
	delete 	 from yxd_cpiao where dm_id in 
	<foreach item="idItem" collection="list" index="index" open="(" separator="," close=")"> 
	#{idItem}
	</foreach> 
</delete>

<!-- 根据id，修改记录-->  
 <update id="modVo" parameterType="Object" >
  update yxd_cpiao set #{number1},#{number2},#{number3},#{number4},#{number5},#{number6},#{number7},dateline=#{dateline} where dm_id=#{dmId}
 </update>
 <!-- 修改记录，只修改只不为空的字段 -->
<update id="modVoNotNull" parameterType="Object" >
	update yxd_cpiao set 
	<trim  suffixOverrides="," >
	<if test="number1 != null  and number1 != '' ">
		number1=#{number1},
	</if>
	<if test="number2 != null  and number2 != '' ">
		number2=#{number2},
	</if>
	<if test="number3 != null  and number3 != '' ">
		number3=#{number3},
	</if>
	<if test="number4 != null  and number4 != '' ">
		number4=#{number4},
	</if>
	<if test="number5 != null  and number5 != '' ">
		number5=#{number5},
	</if>
	<if test="number6 != null  and number6 != '' ">
		number6=#{number6},
	</if>
	<if test="number7 != null  and number7 != '' ">
		number7=#{number7},
	</if>
	<if test="dateline != null  and dateline != '' ">
		dateline=#{dateline},
	</if>
	</trim> where dm_id=#{dmId}
</update>
 
<!-- 根据id查询 商户信息表 -->
<select id="findVo"  resultMap="BaseResultMap" parameterType="Object">
	select <include refid="Base_Column_List" /> 
	 from yxd_cpiao t where t.dm_id = #{dmId}
</select>


<!-- 商户信息表 列表总数-->
<select id="queryCount" resultType="java.lang.Integer"  parameterType="Object">
	select count(1) from yxd_cpiao t 
	<include refid="Example_Where_Clause"/>
</select>

<!-- 分页查询商户信息表列表 -->
<select id="queryList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from yxd_cpiao t 
	<include refid="Example_Where_Clause"/>
	
<!-- 	<if test="orderCondition != null and orderCondition != ''" > -->
<!--       ${orderCondition} -->
<!--     </if> -->
    <if test="mysqlQueryCondition != null and mysqlQueryCondition != ''" >
       ${mysqlQueryCondition}
    </if>
</select>

<!-- 查询商户信息表列表 -->
<select id="findList" resultMap="BaseResultMap"  parameterType="Object">
	select 
	<include refid="Base_Column_List"/>
	from yxd_cpiao t 
	<include refid="Example_Where_Clause"/>
</select>

</mapper>